@font-face {
  font-family: Palatino;
  src: url("../media/texgyrepagella-regular.otf") format("opentype");
}
.container-fluid {
  max-width: 1600px;
}
.navbar {
  font-size: 1.4em;
  border: 0;
}
.flt-page-container {
  margin-left: 200px;
  margin-right: 200px;
}
.flt-page-body {
  padding-top: 33px;
}
hr {
  margin-top: 12px;
  margin-bottom: 12px;
}
.flt-student-box {
  background-color: #028AA2;
  margin-top: 57px;
  height: 173px;
  color: white;
}
.flt-student-box .media-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.flt-student-box p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.flt-student-box .media-body {
  padding-left: 20px;
  padding-top: 20px;
}
.registerLink {
  background-color: #028AA2;
  margin-top: 24px;
  height: 61px;
  width: 235px;
  margin-right: 15px;
  padding: 15px;
}
.registerLink a {
  color: white;
}
.registerLink i {
  margin-top: -4px;
}
.flt-panel {
  font-family: 'Roboto', sans-serif;
}
.flt-panel h4 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
}
.flt-panel hr {
  border-top: 1px solid red;
  width: 180px;
}
.flt-panel .flt-box-body {
  font-size: 18px;
}
.flt-panel i {
  padding-top: 48px;
}
a > .panel {
  height: 276px;
  margin-bottom: 36px;
  border: none;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  border-bottom: none;
  background-color: #ECECEC;
}
.flt-panel:hover {
  box-shadow: 0 0 0.8em black;
}
.col-lg-4 > a {
  text-decoration: none;
  color: #404040;
}
.col-lg-4 > a:hover i {
  color: #c1182a;
}
.loginBox {
  background-color: #404040;
  color: white;
  padding: 20px;
  padding-top: 40px;
}
.loginBox .login-heading {
  font-family: Palatino;
  font-size: 24px;
}
.loginBox p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.loginBox:hover {
  box-shadow: 0 0 0.8em black;
}
.loginBox:hover .i {
  color: #c1182a;
}
.navbar-brand > img {
  margin-top: -20px;
  margin-left: 10px;
}
.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.nav {
  height: 109px;
}
.right-menu-item {
  color: #404040;
  font-weight: bold;
  border-bottom: 1px black solid;
}
.right-menu-item:hover {
  color: #272727;
}
.news-block {
  margin-top: 45px;
  padding-bottom: 45px;
  font-family: 'Roboto', sans-serif;
}
.news-block .list-group-item {
  padding-left: 0px !important;
  border-left: none;
  border-right: none;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  min-height: 95px;
}
.news-block .news-header {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #404040;
  margin-top: -14px;
  margin-left: -2px;
}
.news-block p {
  font-size: 18px;
  font-weight: bold;
}
.news-block small {
  font-weight: normal;
  color: #9b9b9b;
  font-size: 14px;
}
footer {
  -webkit-box-shadow: inset 0px 1px 25px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 25px -1px rgba(0, 0, 0, 0.75);
}
.footer-icons {
  margin-top: 35px;
}
.footer-icon {
  margin-left: 23px;
  margin-right: 23px;
}
.top-menu-item {
  padding: 10px 15px;
  height: 60px;
  background-color: #ECECEC;
  color: black;
}
.top-menu-item h4 {
  font-size: 24px;
}
.top-menu-item .media-heading {
  margin-top: 7px;
}
.menu-area {
  margin: 30px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.navbar-fixed-bottom {
  position: absolute;
  margin-top: 20px;
}
.navbar-fixed-bottom .container-fluid {
  background-color: #494949;
  height: 300px;
}
.breadcrum {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
