.container-fluid {
  max-width: 1600px;
}
.navbar {
  font-size: 1.4em;
  border: 0;
}
.flt-page-body {
  padding-top: 48px;
  margin-left: 200px;
  margin-right: 200px;
}
hr {
  margin-top: 12px;
  margin-bottom: 12px;
}
.news-block {
  margin-top: 36px;
  padding-bottom: 36px;
}
.news-header {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #404040;
  margin-top: -14px;
  margin-left: -2px;
}
.list-group-item {
  border-left: none;
  border-right: none;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  height: 95px;
}
.flt-student-box {
  background-color: #028AA2;
  margin-top: 48px;
  height: 173px;
  color: white;
}
.flt-student-box .media-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.flt-student-box p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.flt-student-box .media-body {
  padding-left: 20px;
  padding-top: 20px;
}
.footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #494949;
  bottom: 0;
  height: 290px;
}
.registerLink {
  background-color: #028AA2;
  margin-top: 24px;
  height: 61px;
  width: 235px;
  margin-right: 15px;
}
.registerLink a {
  color: white;
}
.flt-panel {
  font-family: 'Roboto', sans-serif;
}
.flt-panel h4 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
}
.flt-panel hr {
  border-top: 1px solid red;
  width: 180px;
}
.flt-panel .flt-box-body {
  font-size: 18px;
}
.flt-panel i {
  padding-top: 48px;
}
.panel {
  height: 276px;
  margin-bottom: 36px;
  border: none;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  border-bottom: none;
  background-color: #ECECEC;
}
.col-lg-4 > a {
  text-decoration: none;
  color: black;
}
.col-lg-4 > a:hover i {
  color: red;
}
