.navbar {
  height: 89px;
  background-color: white;
  border: none;
}
.navbar-brand {
  margin-top: 24.5px;
  padding: 0 0 0 15px;
}
.flt-menu {
  padding-left: 270px;
}
.flt-menu a {
  height: 109px;
  width: 140px;
  background-color: #c1192a !important;
  padding-top: 35px !important;
  color: white !important;
  font-size: 1.6em;
}
.navbar-right {
  font-size: 1.6em;
  padding-top: 35px;
}
.navbar-right a {
  color: black;
  text-decoration: underline;
}
.registerLink {
  background-color: #028AA1;
}
.registerLink > a {
  color: white !important;
  width: 220px;
  text-decoration: none;
}
