.panel {
  border-radius: 0 !important;
  border: none;
}
.flt-boxes {
  margin-top: 20px;
  padding-right: 140px;
  padding-left: 140px;
}
.panel-body {
  height: 180px;
  background: #ECECEC;
}
.separator {
  border-bottom: 1px solid grey;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.flt-panel {
  padding-top: 25px;
}
.flt-box-body {
  padding-bottom: 10px;
}
.flt-min-side-panel {
  color: white;
  background-color: #494949;
}
