.flt-news-icon {
  padding-left: 25px;
}
.flt-list-item {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 !important;
}
.flt-student-box {
  background-color: #1B97A1;
  color: white;
}
.footer {
  margin-top: 20px;
  padding-top: 20px ;
  background-color: #494949;
  bottom: 0;
  height: 290px;
}
.flt-icon {
  margin-left: 25px;
  margin-right: 25px;
}
.flt-student-body {
  padding-left: 20px;
  padding-top: 20px;
}
.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}
